<%= simple_form_for @crop do |form| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Crop</legend>
    <%= form.input :name, collection: Crop::NAMES %>
    <%= form.input :season, collection: Crop::SEASONS %>
    <div class="form-actions">
    <%= form.hidden_field :farm_id, :value =>@crop.farm_id %>
    <%= form.submit 'confirm', class: 'button' %>
    <%= link_to 'Cancel', crops_path, :class => 'button secondary' %>
    </div>
  </fieldset>
  
<% end %>
<!--

<%= form_with(model: crop, local: true) do |form| %>
  <% if crop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crop.errors.count, "error") %> prohibited this crop from being saved:</h2>

      <ul>
      <% crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    
    <%= form.label :name %>
    <%= form.text_field :name, id: :crop_name %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season, id: :crop_season %>
  </div>

  <div class="actions">
  <%= form.hidden_field :farm_id, :value =>@crop.farm_id %>
    <%= form.submit 'confirm' %>
  </div>
<% end %>













<!--
<%= form_with(model: crop, local: true) do |form| %>
  <% if crop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crop.errors.count, "error") %> prohibited this crop from being saved:</h2>

      <ul>
      <% crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    
    <%= form.label :name %>
    <%= form.text_field :name, id: :crop_name %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season, id: :crop_season %>
  </div>

  <div class="actions">
  <%= form.hidden_field :farm_id, :value =>1 %>
    <%= form.submit %>
  </div>
<% end %>

<%= simple_form_for @crop do |form| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Crop</legend>
    <%= form.input :name, collection: Crop::NAMES %>
    <%= form.input :season, collection: Crop::SEASONS %>
    <div class="form-actions">
    <%= form.submit nil, class: 'button' %>
    <%= link_to 'Cancel', crops_path, :class => 'button secondary' %>
    </div>
  </fieldset>
  
<% end %>
